In [1]:
import pandas as pd

all_data = pd.read_csv('../data/swissprot/swissprot.tsv', sep='\t')
# select columns 'Entry' and 'Gene3D'
cath_data = all_data[['Entry', 'Gene3D']]
cath_data = cath_data[cath_data['Gene3D'].notnull()]
cath_data

             Entry                                             Gene3D
0       A0A009IHW8  3.40.50.10140; Toll/interleukin-1 receptor hom...
1       A0A023I7E1  1.10.287.1170; glycoside hydrolase family 81 e...
2       A0A024B7W1  1.10.10.930; -; 1.;"1.10.260.90; -; 1.";"1.20....
3       A0A024SC78            3.40.50.1820; alpha/beta hydrolase; 1.;
4       A0A024SH76       3.20.20.40; 1, 4-beta cellobiohydrolase; 1.;
...            ...                                                ...
570805      Q9ZVR0                               1.20.1280.50; -; 1.;
570808      Q9ZW38        2.120.10.80; Kelch-type beta propeller; 1.;
570809      Q9ZWC6            3.80.10.10; Ribonuclease Inhibitor; 4.;
570821      U3H0A9            3.90.1840.10; Major capsid protein; 2.;
570827      W6JGV7                               3.40.1310.20; -; 1.;

[458752 rows x 2 columns]

In [2]:
cath_data['Gene3D'].tolist()[0:10]

['3.40.50.10140; Toll/interleukin-1 receptor homology (TIR) domain; 1.;',
 '1.10.287.1170; glycoside hydrolase family 81 endo-[beta] glucanase; 1.;"1.20.5.420; Immunoglobulin FC, subunit C; 1.";',
 '1.10.10.930; -; 1.;"1.10.260.90; -; 1.";"1.20.1280.260; -; 1.";"2.40.10.120; -; 2.";"2.60.40.350; -; 1.";"1.10.8.970; Flavivirus envelope glycoprotein M-like; 1.";"2.60.260.50; Flavivirus polyprotein propeptide domain; 1.";"3.30.70.2840; Flavivirus RNA-directed RNA polymerase, thumb domain; 3.";"3.40.50.300; P-loop containing nucleotide triphosphate hydrolases; 2.";"2.60.98.10; Tick-borne Encephalitis virus Glycoprotein, domain 1; 1.";"3.40.50.150; Vaccinia Virus protein VP39; 1.";"3.30.67.10; Viral Envelope Glycoprotein, domain 2; 1.";"3.30.387.10; Viral Envelope Glycoprotein, domain 3; 1.";',
 '3.40.50.1820; alpha/beta hydrolase; 1.;',
 '3.20.20.40; 1, 4-beta cellobiohydrolase; 1.;',
 '2.60.120.260; Galactose-binding domain-like; 1.;"3.30.70.850; Peptidase S8, pro-domain; 1.";"3.40.50.200; Peptidase S8/S53 domain; 1.";',
 '3.40.50.720; NAD(P)-binding Rossmann-like Domain; 1.;',
 '3.40.50.620; HUPs; 1.;"3.40.50.300; P-loop containing nucleotide triphosphate hydrolases; 1.";"3.10.400.10; Sulfate adenylyltransferase; 1.";',
 '1.10.3290.10; Fido-like domain; 1.;"1.25.40.10; Tetratricopeptide repeat domain; 1.";',
 '2.40.50.90; -; 1.;']

In [3]:
import re

def extract_cath_labels(s):
    pattern = r'\d+\.\d+\.\d+\.\d+'
    cath_list = re.findall(pattern, s)
    return ';'.join(cath_list)

cath_data['Gene3D'] = cath_data['Gene3D'].apply(extract_cath_labels)
display(cath_data)
# rename Gene3D to cath
cath_data = cath_data.rename(columns={'Gene3D': 'cath'})
print(len(cath_data))
cath_data.to_csv('../data/cath/swissprot_cath.csv', index=False)

             Entry                                             Gene3D
0       A0A009IHW8                                      3.40.50.10140
1       A0A023I7E1                           1.10.287.1170;1.20.5.420
2       A0A024B7W1  1.10.10.930;1.10.260.90;1.20.1280.260;2.40.10....
3       A0A024SC78                                       3.40.50.1820
4       A0A024SH76                                         3.20.20.40
...            ...                                                ...
570805      Q9ZVR0                                       1.20.1280.50
570808      Q9ZW38                                        2.120.10.80
570809      Q9ZWC6                                         3.80.10.10
570821      U3H0A9                                       3.90.1840.10
570827      W6JGV7                                       3.40.1310.20

[458752 rows x 2 columns]

458752

In [4]:
cath_data['num_labels'] = cath_data['Gene3D'].apply(lambda x: len(x.split(';')))
cath_data

,Entry,Gene3D,num_labels
0,A0A009IHW8,3.40.50.10140,1
1,A0A023I7E1,1.10.287.1170;1.20.5.420,2
2,A0A024B7W1,1.10.10.930;1.10.260.90;1.20.1280.260;2.40.10....,13
3,A0A024SC78,3.40.50.1820,1
4,A0A024SH76,3.20.20.40,1
...,...,...,...
570805,Q9ZVR0,1.20.1280.50,1
570808,Q9ZW38,2.120.10.80,1
570809,Q9ZWC6,3.80.10.10,1
570821,U3H0A9,3.90.1840.10,1
570827,W6JGV7,3.40.1310.20,1

In [5]:
num_labels = cath_data['num_labels'].values
num_labels

array([ 1,  2, 13, ...,  1,  1,  1])

In [6]:
(num_labels > 1).sum()

180351

In [7]:
180351 / 458752

0.3931339808872768

In [1]:
import pandas as pd
 
cath_data = pd.read_csv('../data/cath/swissprot_cath.csv')
display(cath_data)
# filter out single-label entries
cath_data['num_labels'] = cath_data['cath'].apply(lambda x: len(x.split(';')))
cath_data_single_label = cath_data[cath_data['num_labels'] == 1]
display(cath_data_single_label)
print(len(cath_data_single_label))
cath_data_single_label.to_csv('../data/cath/swissprot_cath_single_label.csv', index=False)

             Entry                                               cath
0       A0A009IHW8                                      3.40.50.10140
1       A0A023I7E1                           1.10.287.1170;1.20.5.420
2       A0A024B7W1  1.10.10.930;1.10.260.90;1.20.1280.260;2.40.10....
3       A0A024SC78                                       3.40.50.1820
4       A0A024SH76                                         3.20.20.40
...            ...                                                ...
458747      Q9ZVR0                                       1.20.1280.50
458748      Q9ZW38                                        2.120.10.80
458749      Q9ZWC6                                         3.80.10.10
458750      U3H0A9                                       3.90.1840.10
458751      W6JGV7                                       3.40.1310.20

[458752 rows x 2 columns]

             Entry           cath  num_labels
0       A0A009IHW8  3.40.50.10140           1
3       A0A024SC78   3.40.50.1820           1
4       A0A024SH76     3.20.20.40           1
6       A0A059TC02    3.40.50.720           1
9       A0A067CMC7     2.40.50.90           1
...            ...            ...         ...
458747      Q9ZVR0   1.20.1280.50           1
458748      Q9ZW38    2.120.10.80           1
458749      Q9ZWC6     3.80.10.10           1
458750      U3H0A9   3.90.1840.10           1
458751      W6JGV7   3.40.1310.20           1

[278401 rows x 3 columns]

278401

In [1]:
import pandas as pd
import torch
from tqdm.auto import tqdm

cath_data = pd.read_csv('../data/cath/swissprot_cath_single_label.csv')
cath2occurence = {}
pids, labels = cath_data['Entry'].tolist(), cath_data['cath'].tolist()
for pid, label in zip(pids, labels):
    if label not in cath2occurence:
        cath2occurence[label] = 0
    cath2occurence[label] += 1
# filter out rows with more than 10 occurence
cath_data_filtered = cath_data[cath_data['cath'].apply(lambda x: cath2occurence[x] > 10)]

pid2embeddings = torch.load('../data/embeddings/sprot_10_1022_esm2_t33.pt')
print(len(pid2embeddings))
pid_with_emb = list(pid2embeddings.keys())
pid2cath = {pid: cath for pid, cath in zip(cath_data_filtered['Entry'].tolist(), cath_data_filtered['cath'].tolist())}
data = {}
for pid, cath in tqdm(pid2cath.items()):
    try:
        data[pid] = {'embedding': pid2embeddings[pid], 'cath': [cath]}
    except:
        continue
print(len(data))
torch.save(data, '../data/cath/sprot_10_1022_esm2_t33_cath_above_10_single_label.pt')

551965

  0%|          | 0/273610 [00:00<?, ?it/s]

269758

In [1]:
# split train test val
import torch
import random

random.seed(42)
cath_data = torch.load('../data/cath/sprot_10_1022_esm2_t33_cath_above_10_single_label.pt')
pids = list(cath_data.keys())
random.shuffle(pids)
train_data = {pid: cath_data[pid] for pid in pids[:int(0.8 * len(pids))]}
val_data = {pid: cath_data[pid] for pid in pids[int(0.8 * len(pids)):int(0.9 * len(pids))]}
test_data = {pid: cath_data[pid] for pid in pids[int(0.9 * len(pids)):]}
print(len(train_data), len(val_data), len(test_data))
torch.save(train_data, '../data/cath/sprot_10_1022_esm2_t33_cath_above_10_single_label_train.pt')
torch.save(val_data, '../data/cath/sprot_10_1022_esm2_t33_cath_above_10_single_label_val.pt')
torch.save(test_data, '../data/cath/sprot_10_1022_esm2_t33_cath_above_10_single_label_test.pt')

215806 26976 26976

In [1]:
import torch
import json

cath_data = torch.load('../data/cath/sprot_10_1022_esm2_t33_cath_above_10_single_label.pt')
labels = [entry['cath'][0] for entry in cath_data.values()]
labels = list(set(labels))
print(len(labels))
with open('../data/cath/cath_single_label_list.json', 'w') as f:
    json.dump(labels, f)

1229